body {
  background-color: black;
  color: yellow;
}

.post {
  background-color: #0e1630 !important;
  color: white;
  border-color: #8affdc !important;
  margin-bottom: 2rem;

  &-btn {
    width: 11% !important;
  }

  &-choosefile {
    padding: 5px;
    border-radius: 10px;
  }

  &-caption {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-uploadbtn,
  &-uploadbtn:hover {
    color: black;
    padding-block: 5px;
    padding-inline: 30px;
    background: white;
  }
  &-details {
    align-items: center;
    padding-top: 3rem;
  }

  &-comment-count,
  &-like-count {
    color: white;
    font-size: 18px;
  }

  &-like-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 4px;
  }
  &-wrapper {
    padding-bottom: 12px;
  }

  &-username,
  .comments-each_comment-username {
    font-weight: 600;
    color: #01d293;
  }

  &-caption {
  }

  &-text {
    display: flex;
    gap: 1rem;
  }

  &-interactions {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;

    &-wrapper {
    }
  }

  &-like,
  &-comment {
    // color: #808dad;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    padding: 0px;
  }

  &-react {
    &-reactions {
      display: flex;
      color: #808dad;
      gap: 1rem;
      background-color: #111a35 !important;
      padding-inline: 10px;
      padding-block: 8px;
      border-radius: 20px;
      border: 1px solid #808dad;
      li {
        list-style: none;
        cursor: pointer;
      }
    }
  }

  &-like:hover,
  &-comment:hover {
    cursor: pointer;
  }
}
.list-group-item {
  background-color: #0e1630 !important;
  border: none;
  padding: 0px !important;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}
.post-reactions-all {
  width: 0%;
}

.comments {
  position: relative;

  &-wrapper {
    padding: 0px 0px 10px 0px !important;
  }
  &-list-group {
    width: 100% !important;
    padding: 5px;
  }
  &-send-btn {
    padding: 0px !important;
  }

  &-input {
    width: 100%;
    padding: 8px;
    height: 40px;
    border-radius: 20px;
    background-color: #808dad;
    color: #8affdc;
    font-weight: 400;
    border-color: #8affdc;
  }
  &-send {
    position: absolute;
    right: 20px;
    bottom: 8px;
  }
  &-send:hover {
    cursor: pointer;
  }
  &-on_post {
    padding-top: 5px;
    text-align: left;
  }
  &-each_comment {
    padding-block: 5px;
    display: flex;
    gap: 1rem;
    &-comment {
      font-weight: normal !important;
    }
  }
}

.comments-input::placeholder {
  color: #8affdc;
  font-weight: 400;
}

.homepage_comments {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.navbar {
  &-header {
    display: flex;
    justify-content: space-around;
    background-color: black !important;
    border-bottom: 1px solid grey;
    width: 80%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 9;
  }
  &-share-story {
    width: 50%;

    a {
      color: black;
      font-size: 20px;
      font-family: "Satisfy", cursive;
    }
  }

  &-brand {
    font-size: 40px;
    // font-family: cursive !important;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    color: yellow !important;
  }
  &-container {
    display: flex;
    justify-content: space-between !important;
    // width: 85%;
    // margin: auto;
  }
  &-signedin {
    &-text {
      color: yellow !important;
    }
    &-header {
      flex-grow: 0;
      flex-direction: column;
    }
  }
  &-signedin-text a {
    color: yellow !important;
  }
  &-signup {
    color: yellow !important;
  }
}

.main-header {
  margin-block: 1rem;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  &-header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  &-btn,
  &-btn:hover {
    color: black !important;
    background-color: white !important;
    width: 100%;
  }

  &-wrapper {
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: left;
    align-items: center;

    &-email {
      margin-right: 33px !important;
      padding-right: 0px !important;
    }

    label {
      margin-bottom: 0px !important;
    }
  }
}

.signin-signupbtn h6,
.signin-guestbtn h6 {
  margin-right: 2rem;
}
.signin-signupbtn,
.signin-guestbtn {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 5rem;
}
.signin-guestbtn {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.signup,
.signup:hover {
  background: white;
  color: black;
  text-decoration: none;
}

.signup {
  &-header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  &-wrapper {
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: left;
    align-items: center;
  }
  &-btn,
  &-btn:hover {
    color: black;
    background-color: white;
    width: 100%;
  }
}
.guest-login {
  color: blue;
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}
.btn-signout,
.btn-signout:hover {
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}
