body {
  background-color: black;
  color: yellow;
}
.post {
  background-color: #0e1630 !important;
  color: white;
  border-color: #01d293 !important;
  margin-bottom: 20px;
  &-likes {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  &-wrapper {
    padding-bottom: 12px;
  }

  &-username,
  .comments-each_comment-username {
    font-weight: 600;
    color: #01d293;
  }

  &-caption {
  }

  &-text {
    display: flex;
    gap: 1rem;
  }

  &-interactions {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;

    &-wrapper {
    }
  }

  &-react,
  &-comment,
  &-react-reactions {
    color: #808dad;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    padding: 0px;
  }

  &-react {
    &-reactions {
      display: flex;
      color: #808dad;
      gap: 1rem;
      background-color: #111a35 !important;
      padding-inline: 10px;
      padding-block: 8px;
      border-radius: 20px;
      border: 1px solid #808dad;
      li {
        list-style: none;
        cursor: pointer;
      }
    }
  }

  &-react:hover,
  &-comment:hover {
    cursor: pointer;
  }
}
.list-group-item {
  background-color: #0e1630 !important;
  border: none;
  padding: 0px !important;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}
.post-reactions-all {
  width: 0%;
}

.comments {
  position: relative;

  &-wrapper {
    padding: 0px 0px 10px 0px !important;
  }
  &-list-group {
    width: 100% !important;
    padding: 5px;
  }
  &-input {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    background-color: #808dad;
    color: #01d293;
    font-weight: 500;
    border-color: #01d293;
  }
  &-send {
    position: absolute;
    right: 20px;
    bottom: 8px;
  }
  &-send:hover {
    cursor: pointer;
  }
  &-on_post {
    padding-top: 5px;
    text-align: left;
  }
  &-each_comment {
    padding-block: 5px;
    display: flex;
    gap: 1rem;
    &-comment {
      font-weight: normal !important;
    }
  }
}

.comments-input::placeholder {
  color: #01d293;
  font-weight: 500;
}

.homepage_comments {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
